/* HOME STYLE */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
}

#home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 200px; 
    box-sizing: border-box; 
}

#chat-container {
    width: 66%;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

#friends-container {
    width:34%;
    margin-left: 3%;
    height: 100%;
}

#friends-container, #chat-container {
    border-radius: 15px;
    background-color: #424769;
    border: 4px solid #2D3250;
    /* overflow: hidden;  */
}

#messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px 8px 0 0;
}

#input-container {
    display: flex;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
    color: #2D3250;
    background-color: #F6B17A;
    border: 2px solid #2D3250;
}

#send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #F6B17A;
    color: #2D3250;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #2D3250;
}

#send-button:hover {
    background-color: #e79e64;
}

/* FRIENDS CONTAINER */
#friends-container {
    width: 28%;
    margin-left: 2%;
    height: 100%;
    background-color: #424769;
    border: 4px solid #2D3250;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#friends-bottom-box {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    box-sizing: border-box;
    background-color: #2D3250;
    border-radius: 8px;
}

#friends-bottom-box input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #2D3250;
    background-color: #F6B17A;
    border: 2px solid #2D3250;
}

#friends-bottom-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #F6B17A;
    color: #2D3250;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #2D3250;
    margin-right: 10px;
}

#friends-bottom-box button:hover {
    background-color: #e79e64;
}

#your-profile {
    height: 80%;
    aspect-ratio: 1 / 1; /* Ensures it remains a square */
    background-color: #7077A1;
    border-radius: 50%;
    position: relative;
}

#your-user_with_code {
    position: absolute;
    top: -40px; /* Dostosuj pozycję w zależności od potrzeb */
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    background-color: #2d3250;
    border-radius: 3px;
    font-size: 22px;
    white-space: nowrap; 
    z-index: 1; 
    color: #F6B17A;
}

#friends-list {
    height: 100%;
    padding: 8px 10px;
    color: #F6B17A;
    overflow: auto ;
}

.FriendItem {
    background-color: #2d3250;
    /* color: #ffc595; */
    font-size: 20px;
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-right:3px solid #1d2132;
    border-bottom:3px solid #1d2132;
    
}

#friends-list-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3250;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 24px;
    font-family: Georgia;
    font-weight: bold;
    text-shadow: #00000086 2px 2px 2px;
    color: #f6b17a;
    border-bottom: 3px solid #1d2132;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #424769;
}
::-webkit-scrollbar-thumb {
    background: #1d2132;
}
