/* HOME STYLE */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
}

#home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 200px; 
    box-sizing: border-box; 
}

#chat-container {
    width: 66%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: radial-gradient(circle, #424769 0%, #333752 100%);
}

#friends-container {
    width:34%;
    margin-left: 3%;
    height: 100%;
}

#friends-container, #chat-container {
    border-radius: 15px;
    border: 4px solid #292e48;    
    /* overflow: hidden;  */
}

#friends-container, .chat-box-without-gradient {
    background-color: #424769;
}

.chat-box-with-gradient {
    background: #424769;
    background: radial-gradient(circle, rgba(66,71,105,1) 0%, rgb(60, 64, 94) 50%, rgba(45,50,80,1) 100%);
}

#messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px 8px 0 0;
}

#input-container {
    display: flex;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 16px;
    color: #2D3250;
    background-color: #F6B17A;
    border: 2px solid #2D3250;
}

#send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #F6B17A;
    color: #2D3250;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #2D3250;
}

#send-button:hover {
    background-color: #e79e64;
}

/* FRIENDS CONTAINER */
#friends-container {
    width: 28%;
    margin-left: 2%;
    height: 100%;
    /* background-color: #424769; */
    background: linear-gradient(to left top, #1a1c30, #2D3250, #424769);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#friends-bottom-box {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: #262b43;
    border-radius: 8px;
}

#friends-bottom-box input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 6px;
    font-size: 16px;
    color: #2D3250;
    background-color: #F6B17A;
    border: 2px solid #2D3250;
}

#friends-bottom-box button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #F6B17A;
    color: #2D3250;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #2D3250;
    margin-right: 10px;
}

#friends-bottom-box button:hover {
    background-color: #e79e64;
}

#your-profile {
    height: 80%;
    aspect-ratio: 1 / 1; /* Ensures it remains a square */
    background-color: #7077A1;
    border-radius: 50%;
    position: relative;
}

#your-user_with_code {
    position: absolute;
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    background-color: #2d3250;
    border-radius: 3px;
    font-size: 22px;
    white-space: nowrap; 
    z-index: 1000; 
    color: #F6B17A;
}

#friends-list {
    height: 100%;
    padding: 8px 10px;
    color: #F6B17A;
    overflow: auto ;
}

.selected-friendItem {
    background-color: #bd11af;
}

.FriendItem {
    background-color: #2d3250;
    /* color: #ffc595; */
    font-size: 20px;
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-right:3px solid #1d2132;
    border-bottom:3px solid #1d2132;
    
}

#friends-list-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3250;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 24px;
    font-family: Georgia;
    font-weight: bold;
    text-shadow: #00000086 2px 2px 2px;
    color: #f6b17a;
    border-bottom: 3px solid #1d2132;
}

#chat_duck {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px;
    border-right: 2px solid #e79f64a9;
    background: linear-gradient(to top left, #1a1c30, #2D3250, #424769);
}

#chat_duck_text {
    padding: 30px;
    text-align: center;
    font-size: 24px;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Zilla Slab", serif;
    color: #e79f64;
    text-shadow: #000000b8 2px 2px 2px;
    margin: 80px 70px;
    background: linear-gradient(to top ,#20223b, #313657, #424769);    
}

#chat_duck, #chat_duck_text {
    border-radius: 70px 70px 5px;
    border-bottom: 2px solid #e79f64a9;
}

.message-container {
    background-color: #2d3250;
    border-radius: 20px;
    margin: 10px 0;
    padding: 5px 20px;
    box-shadow: #191b2e 3px 3px 6px;
}

.message-date {
    color: rgba(200, 200, 202, 0.69);
    font-size: 1.5vh;
}

.message-text span{
    color: rgba(111, 188, 100, 0.75);
    font-size: 2vh;
}

.message-text .message-user {
    color: rgba(91, 192, 228, 0.75);
}

#conversation-container {
    height: 100%;
    overflow-y: scroll;
}

#conversation-container h2 {
    margin: 0 0 1vh 1vh;
    font-size: 3vh;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #424769;
}
::-webkit-scrollbar-thumb {
    background: #1d2132;
}

@media only screen and (max-width: 768px) {
    #home-container {
        padding: 10px;
    }

    #chat-container {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    #friends-container {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    #chat_duck {
        margin: 10px;
        display: flex;
        justify-content:center;
    }

    #chat_duck img {
        width: 50%;
    }

    #chat_duck_text {
        margin: 10px 20px;
        font-size: 18px;
    }

    #friends-list-top-box {
        padding: 5px;
        font-size: 20px;
    }

    #friends-list {
        padding: 5px;
    }

    .FriendItem {
        font-size: 16px;
        margin-top: 5px;
    }

    #friends-bottom-box {
        padding: 5px;
    }

    #your-user_with_code {
        font-size: 16px;
    }

    #message-input, #friends-bottom-box input {
        font-size: 14px;
    }

    #friends-bottom-box button {
        font-size: 14px;
    }
    
}

/* Dla ekranów o szerokości od 769px do 1200px */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #home-container {
        padding: 30px;
    }

    #chat-container {
        width: 60%;
    }

    #friends-container {
        width: 38%;
        margin-left: 2%;
    }

    #chat_duck {
        margin-top: 30px;
        display: flex;
        justify-content:center;
    }

    #chat_duck img {
        width: 80%;
    }

    #chat_duck_text {
        margin: 40px 30px;
        font-size: 20px;
    }

    #friends-list-top-box {
        padding: 10px;
        font-size: 22px;
    }

    #friends-list {
        padding: 10px;
    }

    .FriendItem {
        font-size: 18px;
        margin-top: 10px;
    }

    #friends-bottom-box {
        padding: 10px;
    }

    #your-user_with_code {
        font-size: 20px;
    }

    #message-input, #friends-bottom-box input {
        font-size: 16px;
    }

    #friends-bottom-box button {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    #home-container {
        padding: 50px 200px;
    }

    #chat-container {
        width: 66%;
    }

    #friends-container {
        width: 34%;
        margin-left: 3%;
    }

    #chat_duck {
        margin-top: 50px;
        display: flex;
        justify-content:center;
    }

    #chat_duck img {
        width: 90%;
    }

    #chat_duck_text {
        margin: 80px 70px;
        font-size: 22px;
    }

    #friends-list-top-box {
        padding: 15px;
        font-size: 24px;
    }

    #friends-list {
        padding: 15px;
    }

    .FriendItem {
        font-size: 20px;
        margin-top: 15px;
    }

    #friends-bottom-box {
        padding: 15px;
    }

    #your-user_with_code {
        font-size: 22px;
    }

    #message-input, #friends-bottom-box input {
        font-size: 18px;
    }

    #friends-bottom-box button {
        font-size: 18px;
    }
}

